body {
    background-color: #f5e5e5;
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

header {
    background-color: #bae2ee;
    color: fff;
    padding: 1em 0;
    text-align: center;
}

header nav ul {
    list-style-type: disc;
    padding: 0;
}

header nav ul li {
    display: inline;
    margin: 0 10px;
}

button {
    background-color: #3c97ad;
    border: #0893bd;
    border-radius: 5px;
    color: #f5e5e5;
    cursor: pointer;
    font-size: 16px;
    padding: 10px 20px;
}

button:hover {
    background-color: #022d33;
}

section {
    background-color: #bae2ee;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin: 20px auto;
    max-width: 800px;
    padding: 20px;
}

.entry {
    margin-bottom: 20px;
}

.entry h3 {
    margin-top: 0;
}

div {
    background-color: #bae2ee;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin: 20px auto;
    max-width: 800px;
    padding: 20px;
}

footer {
    background-color: #0893bd;
    bottom: 0;
    color: fff;
    padding: 10px 0;
    position: fixed;
    text-align: center;
    width: 100%;
}